proto
*~
.*.sw?
*.log
*.log.[1-9]
src
localrc
local.sh
files/*.gz
files/*.qcow2
files/images
files/pip-*
files/get-pip.py
stack-screenrc
*.pem
accrc
.stackenv
.prereqs
devstack-docs-*
docs/
docs-files
.localrc.auto
local.conf
AUTHORS
build/*
build-stamp
ChangeLog
cover/
.coverage
covhtml/
dist/
doc/build
*.DS_Store
*.pyc
neutron.egg-info/
neutron/vcsversion.py
neutron/versioninfo
pbr*.egg/
quantum.egg-info/
quantum/vcsversion.py
quantum/versioninfo
run_tests.err.log
run_tests.log
setuptools*.egg/
subunit.log
.testrepository
.tox/
.venv/
*.mo
*.sw?
